/* CSS rules for nice viewing of markdown */

body {
    background-color: #EFEFEF;
    font-size: 100%;
}

div.site {
    max-width: 52em;
    margin-left:auto;
    margin-right:auto;
    padding: .5em;
}

div.content {
    background-color: #FBFAF5;
    padding: .5em;
    border-style:solid;
    border-width: thin;
    border-color: #444444;
}

code {
    font-family: serif;
    background-color: #f7f7fd;
    padding: 0.0em 0.1em;
    margin: 0.0em -0.1em;
}
pre {
    min-width: 49em;
    padding: 0.0em 0.1em;
    margin: 0.2em 0.5em;
    background-color: #f7f7fd;
    border: 0.2em solid #f3f3f9;
}

h1,h2,p,ul,ol,li {
    padding: 0em;
    max-width: 40em;
}

h1 {
    margin: 1em 0em .5em;
    padding: 
}
h1:first-child {
    margin-top: 0em;
}
h2 {
    margin: 1em 0em .5em;
}
p {
    margin: .5em 0em;
}
ul, ol {
    margin: 0em 0em 0em 2em;
}
li {
    margin: .1em 0em;
}
