/* CSS rules for nice viewing of markdown */

body {
    background-color: #EEEEEE;
    font-size: 100%;
}

div.content {
    background-color: #FFFFFF;
    max-width: 50em;
    margin-left:auto;
    margin-right:auto;
    padding: .5em;
    border-style:solid;
    border-width: thin;
    border-color: #444444;
}

code {
    font-family: monospace;
    background-color: #efefe7;
    padding: 0em .2em;
}

h1,h2,p,ul,ol,li {
    padding: 0em;
}

h1 {
    margin: 1em 0em .5em;
    padding: 
}
h1:first-child {
    margin-top: 0em;
}
h2 {
    margin: 1em 0em .5em;
}
p {
    margin: .5em 0em;
}
ul, ol {
    margin: 0em 0em 0em 2em;
}
li {
    margin: .1em 0em;
}
