<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Diggory Hardy" />
   <meta name="keywords" content="mo, mongrel, programming language" />
   
   <link rel="stylesheet" type="text/css" href="{{site.root}}/css/markdown.css" />
   <link rel="stylesheet" type="text/css" href="{{site.root}}/css/pygments.css" />
</head>
<body>

<div class="site">
    <div class="title">
        <table id="top-links">
            <tr>
                <th><a href="/">DHardy</a></th>
                <th><a href="http://diggoryhardy.wordpress.com/">Blog</a></th>
                <th><a href="/mo">Mongrel</a></th>
            </tr>
        </table>
    </div>

    <hr/>

    <div class="content">
        {{ content }}
    </div>
</div>

</body>
</html>
